<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
<html>
<head>
  <title>Load Balancers</title>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="alb">Alb</a>
  <a href="dynamodb">DynamoDB</a>
  <a href="ec2">Ec2</a>
  <a href="lambda">Lambda</a>
  <a href="networks">Networks</a>
  <a href="rds">Databases</a>
  <a href="s3">S3</a>
  <a href="sgs">SecurityGroups</a>
</div>

<p1>Target Groups Data</p1>
<table>
  <!-- table header -->
  {% if tg_results %}
  <tr>
     {% for key in tg_results[0] %}
     <th> {{ key }} </th>
     {% endfor %}
  </tr>
  {% endif %}

  <!-- table rows -->
  {% for dict_item in tg_results %}
  <tr>
     {% for value in dict_item.values() %}
     <td> {{ value }} </td>
     {% endfor %}
  </tr>
  {% endfor %}
</table>

<p1>Load Balancers Data</p1>
<table>
  <!-- table header -->
  {% if lb_results %}
  <tr>
     {% for key in lb_results[0] %}
     <th> {{ key }} </th>
     {% endfor %}
  </tr>
  {% endif %}

  <!-- table rows -->
  {% for dict_item in lb_results %}
  <tr>
     {% for value in dict_item.values() %}
     <td> {{ value }} </td>
     {% endfor %}
  </tr>
  {% endfor %}
</table>

</body>
</html>